#top {
  text-align: center;

}

#scores {
  padding-top: 10px
}

#playerScore {
    margin: auto;
    width: 10%;
    background-color: #E9F4FF;
    border-top: 3px solid #3D3D3D;
    border-right: 3px solid #3D3D3D;
    border-bottom: 1.5px solid #3D3D3D;
    border-left: 3px solid #3D3D3D;
    padding: 10px;
}

#computerScore {
    margin: auto;
    width: 10%;
    background-color: #E9F4FF;
    border-top: 1.5px solid #3D3D3D;
    border-right: 3px solid #3D3D3D;
    border-bottom: 3px solid #3D3D3D;
    border-left: 3px solid #3D3D3D;
    padding: 10px;
}

#reset {
  font-family: arial;
  font-size: 20px;
  font-weight: 100px;
  padding: 10px;
  color: black;
  background-color: #E9F4FF;
  border: 3px solid #3D3D3D;
  box-shadow: 2px 2px 3px LightGrey; 
}

#result {
  height: 30px
}

#winner {
  height: 30px
}

#picDivider {
 height: 250px;
}


h2 {
  font-family: impact;
  font-size: 40px;
  color: #000000;
  background-color: #E9F4FF;
  border: 1px solid #3D3D3D;
  box-shadow: 2px 2px 3px LightGrey; 
}

.divider{
  text-align: center;
}

.bottom {
  display: inline;
  text-align: center;
}


.button{
  border:solid 10px transparent
}

.button:hover {
  border: 10px solid #E9F4FF;
  display: inline-block;
}

p {
  font-family: arial;
  font-size: 20px;
}







